* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ff9a00;
  --secondary-color: #5c250f;
  --white-color: #ffffff;
  --black-color: #000000;
  --font: "Chewy", system-ui;
  --background: #ffffff;
  --font-weight: bold;
  --font-family: "Signika", sans-serif;
  --gray-color: #605b51;
}
body {
  background-color: azure;
}
/* navbar  */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  height: 3rem;
  font-family: var(--font);
  color: var(--primary-color);
  box-shadow: 1px 1px 10px var(--black-color);
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.nav_logo {
  font-size: 1.8rem;
}
.nav_logo:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.nav-links li {
  display: inline;
}
.nav-links a {
  font-size: 1rem;
  color: var(--primary-color);
  padding: 0.5rem 1.2rem;
  margin: 0 0.3rem;
}
.show {
  /* transform: translateY(0); */
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.active {
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
}
.nav-links a:hover {
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
}
/* menu bar  */
#menubar {
  display: none;
}
/* home start  */
.home {
  background: gray;
  width: 100%;
}

/* home end  */
.about {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.about div {
  flex: 1 1 350px;
}
.about_card1 h1 {
  color: var(--primary-color);
  font-family: var(--font);
  font-size: 2.5rem;
}
.about_card1 h3 {
  color: var(--primary-color);
  font-family: var(--font);
  margin: 1rem 0;
}
.about_card1 p {
  font-family: var(--font-family);
  margin: 0.5rem 0;
  color: var(--gray-color);
}
.about_card2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/* .about_card2 img {
  box-shadow: 1px 1px 3px var(--black-color);
} */
.about_card2:hover .about_card2-info {
  /* transform: translateY(0); */
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  transition: ease-in-out 0.5s;
}
.about_card2-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: var(--font-family);
  color: var(--white-color);
  font-size: 1rem;
  padding: 1rem;
  backdrop-filter: blur(3px);
  /* transform: translateY(-150%); */
  clip-path: polygon(0 0, 0 0, 100% 0, 0 0);
  border-radius: 0.2rem;
}
/* gallery start */
.gallery_title {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font);
  color: var(--primary-color);
  margin: 1rem 0;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 1rem;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  background-color: rgb(235, 235, 235);
  padding: 0.5rem;
}
.gallery div {
  flex: 1 1 350px;
  cursor: pointer;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}
.informations {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(3px);
  transform: translateY(-150%);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
  color: var(--white-color);
  font-size: 1.2rem;
  border-radius: 0.2rem;
}
.gallery_card:hover .informations {
  transform: translateY(0);
  transition: 0.3s;
}
.gallery_card img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.2rem;
}
.gallery_info {
  padding: 0 2rem;
  background-color: var(--white-color);
}
.gallery_info h1 {
  color: var(--primary-color);
  font-family: var(--font);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.gallery_info p {
  font-family: var(--font-family);
  color: var(--gray-color);
  margin: 0.5rem 0;
}
/* gallery end  */
